<div xmlns="http://www.w3.org/1999/xhtml">

    <div style="display: inline-block;
                background-color: #d9e0e7; 
                padding: 6px; 
                margin: 4px; 
                border: 1px solid #8da1b4;
                border-radius: 5px; 
                line-height: 60%;
                width: 100%;"
                >
        <p style="margin-bottom: 0px">
            <b>Resource Type</b> : TestScript<br/>
            <b>ID</b> : {{TestScript.id}}<br/>
            <b>Profile</b> : {{TestScript.meta.profile}}<br/>
            <b>URL</b>: <code>{{TestScript.url}}</code><br/>
            <b>Version</b>: {{TestScript.version}}<br/>
            <b>Name</b>: {{TestScript.name}}<br/>
            <b>Status</b>: {{TestScript.status}}<br/>
            <b>Experimental</b>: {{TestScript.experimental}}<br/>
            <b>Date</b>: {{TestScript.date}}<br/>
            <b>Description</b>:<br/> {{TestScript.description}}<br/>
            <b>Purpose</b>:<br/> {{TestScript.purpose}}<br/>

            {% if TestScript.metadata %}
                <h4>Metadata</h4>
                <blockquote>
                    {% if TestScript.metadata.link %}
                        <b>Links</b><br/><br/><br/>
                        <table class="grid" style="width: 100%;">
                            <tr style="background-color: #333f4c; color: #ffffff;">
                                <th style="text-align: center;"><b>Url</b></th>
                                <th style="text-align: center;"><b>Description</b></th>
                            </tr>
                            {% for link in TestScript.metadata.link %}
                                <tr style="background-color: #ffffff;">
                                    <td>{{ link.url }}</td>
                                    <td>{% if link.description %} {{ link.description }} {% else %} N/A {% endif %}</td>                                
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                    {% if TestScript.metadata.capability %}
                        <b>Capabilities</b><br/><br/><br/>
                        <table class="grid" style="width: 100%;">
                            <tr style="background-color: #333f4c; color: #ffffff;">
                                <th style="text-align: center;"><b>Required</b></th>
                                <th style="text-align: center;"><b>Validated</b></th>
                                <th style="text-align: center;"><b>Description</b></th>
                                <th style="text-align: center;"><b>Links</b></th>
                                <th style="text-align: center;"><b>Capabilities</b></th>
                            </tr>
                            {% for capability in TestScript.metadata.capability %}
                                <tr style="background-color: #ffffff;">
                                    <td>{{ capability.required }}</td>
                                    <td>{{ capability.validated }}</td>
                                    <td>{{ capability.description }}</td>
                                    <td>
                                        <ul>
                                            {% for link in capability.link %}
                                                <li>
                                                    {{link}}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td>
                                        {{capability.capabilities}}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                </blockquote>
            {% endif %}
            {% if TestScript.scope %}
            <h4>Scopes</h4>
                <table class="grid" style="width: 100%;">
                    <tr style="background-color: #333f4c; color: #ffffff;">
                        <th style="text-align: center;"><b>Artifact</b></th>
                        <th style="text-align: center;"><b>Conformance</b></th>
                        <th style="text-align: center;"><b>Phase</b></th>
                    </tr>
                    <tr style="background-color: #ffffff;">
                        {% for scope in TestScript.scope %}
                            <td>{{ scope.artifact }}</td>
                            <td>{{ scope.conformance }}</td>
                            <td>{{ scope.phase }}</td>
                        {% endfor %}
                    </tr>
                </table><br/>
            {% endif %}



            {% if TestScript.extension.url = 'http://testbedexample.org/StructureDefinition/scope-ts-r4' %}
                <h4>Scopes</h4>
                <table class="grid" style="width: 100%;">
                    <tr style="background-color: #333f4c; color: #ffffff;">
                        <th style="text-align: center;"><b>Artifact</b></th>
                        <th style="text-align: center;"><b>Conformance</b></th>
                        <th style="text-align: center;"><b>Phase</b></th>
                    </tr>
                    <tr style="background-color: #ffffff;">
                        {% for scope in TestScript.extension.extension %}
                            <td>{%if scope.valueCanonical %} {{scope.valueCanonical}} {% else %} {{scope.valueCodeableConcept.coding.code}} {% endif %}</td>   
                        {% endfor %}
                    </tr>
                </table><br/>
            {% endif %}


            <b>Publisher</b>: {{TestScript.publisher}}<br/><br/><br/>
            <b>Jurisdiction</b>: 
            {% for jurisdiction in TestScript.jurisdiction %}
                {{jurisdiction.display}} <span style="background: LightGoldenRodYellow; padding: .5rem; border: 1px solid khaki"> (<a
                href="http://terminology.hl7.org/5.0.0/CodeSystem-ISO3166Part1.html">ISO 3166-1 Codes for the representation of names of countries and their subdivisions — Part 1: Country code</a>#{{jurisdiction.code}})</span><br/>   
            {% endfor %}
            <br/><br/>

            {% if TestScript.contact %}
                <table class="grid" style="width: 100%;">
                    <tr style="background-color: #333f4c; color: #ffffff;">
                        <th style="text-align: center;"><b>Contact Name</b></th>
                        <th style="text-align: center;"><b>Contact Points</b></th>
                    </tr>
                    {% for contact in TestScript.contact %}
                         <tr style="background-color: #ffffff;">
                            <td>{%if contact.name %} {{contact.name}} {% else %} N/A {% endif %} </td>
                            <td>
                                <ul>
                                    {% for contactPoint in contact.telecom %}
                                        <li>
                                        {%if contactPoint.system = 'email' %} 
                                            <a href="mailto:{{contactPoint.value}}">{{contactPoint.value}}</a>
                                        {% elsif contactPoint.system = 'url' %}
                                            <a href="{{contactPoint.value}}">{{contactPoint.value}}</a>
                                        {% else %}
                                            {{contactPoint.value}}
                                        {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </p>
    </div><br/>
    
    <p>
        {% if TestScript.profile %}
            <h4>Profiles for validation</h4>
            <ul>
                {% for profile in TestScript.profile %}
                    <li>{{ profile }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </p>

    {% if TestScript.fixture %}
        <h4>Fixtures</h4>
        <table class="grid" style="width: 100%;">
            <tr style="background-color: #333f4c; color: #ffffff;">
                <th style="text-align: center;"><b>ID</b></th>
                <th style="text-align: center;"><b>Auto Create ?</b></th>
                <th style="text-align: center;"><b>Auto Delete ?</b></th>
                <th style="text-align: center;"><b>Resource</b></th>
            </tr>
            {% for fixture in TestScript.fixture %} 
                <tr>
                    <td>{%if fixture.id %} {{fixture.id}} {% else %} N/A {% endif %}</td>
                    <td>{{fixture.autocreate}}</td>
                    <td>{{fixture.autodelete}}</td>
                    <td>{%if fixture.resource %} {{fixture.resource}} {% else %} N/A {% endif %}</td>
                </tr>
            {% endfor %}
        </table><br/>
    {% endif %}

    {% if TestScript.variable %}
        <h4>Variables</h4>
        <table class="grid" style="width: 100%;">
            <tr style="background-color: #333f4c; color: #ffffff;">
                <th style="text-align: center;"><b>Name</b></th>
                <th style="text-align: center;"><b>Path</b></th>
                <th style="text-align: center;"><b>SourceId</b></th>
            </tr>
            {% for variable in TestScript.variable %} 
                <tr>
                    <td>{{variable.name}}</td>
                    <td>{%if variable.path %} {{variable.path}} {% else %} N/A {% endif %}</td>
                    <td>{%if variable.sourceId %} {{variable.sourceId}} {% else %} N/A {% endif %}</td>
                </tr>
            {% endfor %}
        </table><br/>
    {% endif %}
    
    {% if TestScript.setup %}
        <h3>Setup</h3>
        <blockquote>
            {% for action in TestScript.setup.action %}
                <blockquote>
                    <table class="grid" style="width: 100%;">
                        <tr style="background-color: #333f4c; color: #ffffff;">
                            <th style="text-align: center;"><b>Action</b></th>
                            {% if action.operation.id or action.assert.id %}<th style="text-align: center;"><b>ID</b></th>{% endif %}
                            {% if action.operation.label or action.assert.label %}<th style="text-align: center;"><b>Label</b></th>{% endif %}
                            {% if action.operation.description or action.assert.description %}<th style="text-align: center;"><b>Description</b></th>{% endif %}
                            {% if action.operation.encodeRequestUrl %}<th style="text-align: center;"><b>EncodeRequestUrl</b></th>{% endif %}
                            {% if action.operation.type %}<th style="text-align: center;"><b>Type</b></th>{% endif %}
                            {% if action.operation.resource or action.assert.resource %}<th style="text-align: center;"><b>Resource</b></th>{% endif %}
                            {% if action.operation.accept %}<th style="text-align: center;"><b>Accept</b></th>{% endif %}
                            {% if action.operation.contentType or action.assert.contentType %}<th style="text-align: center;"><b>ContentType</b></th>{% endif %}
                            {% if action.operation.params %}<th style="text-align: center;"><b>Params</b></th>{% endif %}
                            {% if action.operation.method %}<th style="text-align: center;"><b>Method</b></th>{% endif %}
                            {% if action.operation.origin %}<th style="text-align: center;"><b>Origin</b></th>{% endif %}
                            {% if action.operation.requestHeader %}<th style="text-align: center;"><b>Request Headers</b></th>{% endif %}
                            {% if action.operation.requestId %}<th style="text-align: center;"><b>Request Id</b></th>{% endif %}
                            {% if action.operation.responseId %}<th style="text-align: center;"><b>Response Id</b></th>{% endif %}
                            {% if action.operation.sourceId or action.assert.sourceId %}<th style="text-align: center;"><b>Source Id</b></th>{% endif %}
                            {% if action.operation.targetId %}<th style="text-align: center;"><b>Target Id</b></th>{% endif %}
                            {% if action.operation.url %}<th style="text-align: center;"><b>URL</b></th>{% endif %}
                            
                            {% if action.assert.direction %}<th style="text-align: center;"><b>Direction</b></th>{% endif %}
                            {% if action.assert.compareToSourceId %}<th style="text-align: center;"><b>CompareToSourceId</b></th>{% endif %}
                            {% if action.assert.compareToSourceExpression %}<th style="text-align: center;"><b>CompareToSourceExpression</b></th>{% endif %}
                            {% if action.assert.compareToSourcePath %}<th style="text-align: center;"><b>CompareToSourcePath</b></th>{% endif %}
                            {% if action.assert.expression %}<th style="text-align: center;"><b>Expression</b></th>{% endif %}
                            {% if action.assert.headerField %}<th style="text-align: center;"><b>HeaderField</b></th>{% endif %}
                            {% if action.assert.minimumId %}<th style="text-align: center;"><b>MinimumId</b></th>{% endif %}
                            {% if action.assert.navigationLinks %}<th style="text-align: center;"><b>NavigationLinks</b></th>{% endif %}
                            {% if action.assert.operator %}<th style="text-align: center;"><b>Operator</b></th>{% endif %}
                            {% if action.assert.path %}<th style="text-align: center;"><b>Path</b></th>{% endif %}
                            {% if action.assert.requestMethod %}<th style="text-align: center;"><b>RequestMethod</b></th>{% endif %}
                            {% if action.assert.requestURL %}<th style="text-align: center;"><b>RequestURL</b></th>{% endif %}
                            {% if action.assert.value %}<th style="text-align: center;"><b>Value</b></th>{% endif %}
                            {% if action.assert.response %}<th style="text-align: center;"><b>Response</b></th>{% endif %}
                            {% if action.assert.responseCode %}<th style="text-align: center;"><b>ResponseCode</b></th>{% endif %}
                            {% if action.assert.validateProfileId %}<th style="text-align: center;"><b>ValidateProfileId</b></th>{% endif %}
                            {% if action.assert.stopTestOnFail or action.assert.extension.url %}<th style="text-align: center;"><b>StopTestOnFail</b></th>{% endif %}
                            {% if action.assert.warningOnly %}<th style="text-align: center;"><b>WarningOnly</b></th>{% endif %}
                        </tr>
                        {% if action.operation %}
                            <tr>
                                <td><b>Operation</b></td>
                                {% if action.operation.id %}<td>{{ action.operation.id }}</td>{% endif %}
                                {% if action.operation.label %}<td>{{ action.operation.label }}</td>{% endif %}
                                {% if action.operation.description %}<td>{{ action.operation.description }}</td>{% endif %}
                                {% if action.operation.encodeRequestUrl %}<td>{{ action.operation.encodeRequestUrl }}</td>{% endif %}
                                {% if action.operation.type %}<td>{{ action.operation.type }}</td>{% endif %}
                                {% if action.operation.resource %}<td>{{ action.operation.resource }}</td>{% endif %}
                                {% if action.operation.accept %}<td>{{ action.operation.accept }}</td>{% endif %}
                                {% if action.operation.contentType %}<td>{{ action.operation.contentType }}</td>{% endif %}
                                {% if action.operation.params %}<td>{{ action.operation.params }}</td>{% endif %}
                                {% if action.operation.method %}<td>{{ action.operation.method }}</td>{% endif %}
                                {% if action.operation.origin %}<td>{{ action.operation.origin }}</td>{% endif %}
                                {% if action.operation.requestHeader %}
                                    <td>
                                    {% for requestHeader in action.operation.requestHeader %}
                                        {{ requestHeader.field }}:{{ requestHeader.value }} <br>
                                    {% endfor %}
                                    </td>
                                {% endif %}
                                {% if action.operation.requestId %}<td>{{ action.operation.requestId }}</td>{% endif %}
                                {% if action.operation.responseId %}<td>{{ action.operation.responseId }}</td>{% endif %}
                                {% if action.operation.sourceId %}<td>{{ action.operation.sourceId }}</td>{% endif %}
                                {% if action.operation.targetId %}<td>{{ action.operation.targetId }}</td>{% endif %}
                                {% if action.operation.url %}<td>{{ action.operation.url }}</td>{% endif %}
                            </tr>
                        {% elsif action.assert %}
                            <tr>
                                <td><b>Assert</b></td>
                                {% if action.assert.id %}<td>{{ action.assert.id }}</td>{% endif %}
                                {% if action.assert.label %}<td>{{ action.assert.label }}</td>{% endif %}
                                {% if action.assert.description %}<td>{{ action.assert.description }}</td>{% endif %}
                                {% if action.assert.direction %}<td>{{ action.assert.direction }}</td>{% endif %}
                                {% if action.assert.compareToSourceId %}<td>{{ action.assert.compareToSourceId }}</td>{% endif %}
                                {% if action.assert.compareToSourceExpression %}<td>{{ action.assert.compareToSourceExpression }}</td>{% endif %}
                                {% if action.assert.compareToSourcePath %}<td>{{ action.assert.compareToSourcePath }}</td>{% endif %}
                                {% if action.assert.contentType %}<td>{{ action.assert.contentType }}</td>{% endif %}
                                {% if action.assert.expression %}<td>{{ action.assert.expression }}</td>{% endif %}
                                {% if action.assert.headerField %}<td>{{ action.assert.headerField }}</td>{% endif %}
                                {% if action.assert.minimumId %}<td>{{ action.assert.minimumId }}</td>{% endif %}
                                {% if action.assert.navigationLinks %}<td>{{ action.assert.navigationLinks }}</td>{% endif %}
                                {% if action.assert.operator %}<td>{{ action.assert.operator }}</td>{% endif %}
                                {% if action.assert.path %}<td>{{ action.assert.path }}</td>{% endif %}
                                {% if action.assert.requestMethod %}<td>{{ action.assert.requestMethod }}</td>{% endif %}
                                {% if action.assert.requestURL %}<td>{{ action.assert.requestURL }}</td>{% endif %}
                                {% if action.assert.resource %}<td>{{ action.assert.resource }}</td>{% endif %}
                                {% if action.assert.sourceId %}<td>{{ action.assert.sourceId }}</td>{% endif %}
                                {% if action.assert.value %}<td>{{ action.assert.value }}</td>{% endif %}
                                {% if action.assert.response %}<td>{{ action.assert.response }}</td>{% endif %}
                                {% if action.assert.responseCode %}<td>{{ action.assert.responseCode }}</td>{% endif %}
                                {% if action.assert.validateProfileId %}<td>{{ action.assert.validateProfileId }}</td>{% endif %}
                                {% if action.assert.stopTestOnFail %}<td>{{ action.assert.stopTestOnFail }}</td>{% else %}<td>{{ action.assert.extension.valueBoolean}}</td>{% endif %}
                                {% if action.assert.warningOnly %}<td>{{ action.assert.warningOnly }}</td>{% endif %}
                            </tr>
                        {% endif %}
                    </table>
                </blockquote>
            {% endfor %}
        </blockquote>
    {% endif %}

    {% if TestScript.test %}
        <h3>Tests</h3>
        {% for test in TestScript.test %}
            <blockquote>
                <b>{{ test.name }}:</b><br/>
                {{ test.description }}<br/>
                {% for action in test.action %}
                    <blockquote>
                        <table class="grid" style="width: 100%;">
                            <tr style="background-color: #333f4c; color: #ffffff;">
                                <th style="text-align: center;"><b>Action</b></th>
                                {% if action.operation.id or action.assert.id %}<th style="text-align: center;"><b>ID</b></th>{% endif %}
                                {% if action.operation.label or action.assert.label %}<th style="text-align: center;"><b>Label</b></th>{% endif %}
                                {% if action.operation.description or action.assert.description %}<th style="text-align: center;"><b>Description</b></th>{% endif %}
                                {% if action.operation.encodeRequestUrl %}<th style="text-align: center;"><b>EncodeRequestUrl</b></th>{% endif %}
                                {% if action.operation.type %}<th style="text-align: center;"><b>Type</b></th>{% endif %}
                                {% if action.operation.resource or action.assert.resource %}<th style="text-align: center;"><b>Resource</b></th>{% endif %}
                                {% if action.operation.accept %}<th style="text-align: center;"><b>Accept</b></th>{% endif %}
                                {% if action.operation.contentType or action.assert.contentType %}<th style="text-align: center;"><b>ContentType</b></th>{% endif %}
                                {% if action.operation.params %}<th style="text-align: center;"><b>Params</b></th>{% endif %}
                                {% if action.operation.method %}<th style="text-align: center;"><b>Method</b></th>{% endif %}
                                {% if action.operation.origin %}<th style="text-align: center;"><b>Origin</b></th>{% endif %}
                                {% if action.operation.requestHeader %}<th style="text-align: center;"><b>Request Headers</b></th>{% endif %}
                                {% if action.operation.requestId %}<th style="text-align: center;"><b>Request Id</b></th>{% endif %}
                                {% if action.operation.responseId %}<th style="text-align: center;"><b>Response Id</b></th>{% endif %}
                                {% if action.operation.sourceId or action.assert.sourceId %}<th style="text-align: center;"><b>Source Id</b></th>{% endif %}
                                {% if action.operation.targetId %}<th style="text-align: center;"><b>Target Id</b></th>{% endif %}
                                {% if action.operation.url %}<th style="text-align: center;"><b>URL</b></th>{% endif %}
                                
                                {% if action.assert.direction %}<th style="text-align: center;"><b>Direction</b></th>{% endif %}
                                {% if action.assert.compareToSourceId %}<th style="text-align: center;"><b>CompareToSourceId</b></th>{% endif %}
                                {% if action.assert.compareToSourceExpression %}<th style="text-align: center;"><b>CompareToSourceExpression</b></th>{% endif %}
                                {% if action.assert.compareToSourcePath %}<th style="text-align: center;"><b>CompareToSourcePath</b></th>{% endif %}
                                {% if action.assert.expression %}<th style="text-align: center;"><b>Expression</b></th>{% endif %}
                                {% if action.assert.headerField %}<th style="text-align: center;"><b>HeaderField</b></th>{% endif %}
                                {% if action.assert.minimumId %}<th style="text-align: center;"><b>MinimumId</b></th>{% endif %}
                                {% if action.assert.navigationLinks %}<th style="text-align: center;"><b>NavigationLinks</b></th>{% endif %}
                                {% if action.assert.operator %}<th style="text-align: center;"><b>Operator</b></th>{% endif %}
                                {% if action.assert.path %}<th style="text-align: center;"><b>Path</b></th>{% endif %}
                                {% if action.assert.requestMethod %}<th style="text-align: center;"><b>RequestMethod</b></th>{% endif %}
                                {% if action.assert.requestURL %}<th style="text-align: center;"><b>RequestURL</b></th>{% endif %}
                                {% if action.assert.value %}<th style="text-align: center;"><b>Value</b></th>{% endif %}
                                {% if action.assert.response %}<th style="text-align: center;"><b>Response</b></th>{% endif %}
                                {% if action.assert.responseCode %}<th style="text-align: center;"><b>ResponseCode</b></th>{% endif %}
                                {% if action.assert.validateProfileId %}<th style="text-align: center;"><b>ValidateProfileId</b></th>{% endif %}
                                {% if action.assert.stopTestOnFail or action.assert.extension.url %}<th style="text-align: center;"><b>StopTestOnFail</b></th>{% endif %}
                                {% if action.assert.warningOnly %}<th style="text-align: center;"><b>WarningOnly</b></th>{% endif %}
                            </tr>
                            {% if action.operation %}
                                <tr>
                                    <td><b>Operation</b></td>
                                    {% if action.operation.id %}<td>{{ action.operation.id }}</td>{% endif %}
                                    {% if action.operation.label %}<td>{{ action.operation.label }}</td>{% endif %}
                                    {% if action.operation.description %}<td>{{ action.operation.description }}</td>{% endif %}
                                    {% if action.operation.encodeRequestUrl %}<td>{{ action.operation.encodeRequestUrl }}</td>{% endif %}
                                    {% if action.operation.type %}<td>{{ action.operation.type }}</td>{% endif %}
                                    {% if action.operation.resource %}<td>{{ action.operation.resource }}</td>{% endif %}
                                    {% if action.operation.accept %}<td>{{ action.operation.accept }}</td>{% endif %}
                                    {% if action.operation.contentType %}<td>{{ action.operation.contentType }}</td>{% endif %}
                                    {% if action.operation.params %}<td>{{ action.operation.params }}</td>{% endif %}
                                    {% if action.operation.method %}<td>{{ action.operation.method }}</td>{% endif %}
                                    {% if action.operation.origin %}<td>{{ action.operation.origin }}</td>{% endif %}
                                    {% if action.operation.requestHeader %}
                                        <td>
                                        {% for requestHeader in action.operation.requestHeader %}
                                            {{ requestHeader.field }}:{{ requestHeader.value }} <br>
                                        {% endfor %}
                                        </td>
                                    {% endif %}
                                    {% if action.operation.requestId %}<td>{{ action.operation.requestId }}</td>{% endif %}
                                    {% if action.operation.responseId %}<td>{{ action.operation.responseId }}</td>{% endif %}
                                    {% if action.operation.sourceId %}<td>{{ action.operation.sourceId }}</td>{% endif %}
                                    {% if action.operation.targetId %}<td>{{ action.operation.targetId }}</td>{% endif %}
                                    {% if action.operation.url %}<td>{{ action.operation.url }}</td>{% endif %}
                                </tr>
                            {% elsif action.assert %}
                                <tr>
                                    <td><b>Assert</b></td>
                                    {% if action.assert.id %}<td>{{ action.assert.id }}</td>{% endif %}
                                    {% if action.assert.label %}<td>{{ action.assert.label }}</td>{% endif %}
                                    {% if action.assert.description %}<td>{{ action.assert.description }}</td>{% endif %}
                                    {% if action.assert.direction %}<td>{{ action.assert.direction }}</td>{% endif %}
                                    {% if action.assert.compareToSourceId %}<td>{{ action.assert.compareToSourceId }}</td>{% endif %}
                                    {% if action.assert.compareToSourceExpression %}<td>{{ action.assert.compareToSourceExpression }}</td>{% endif %}
                                    {% if action.assert.compareToSourcePath %}<td>{{ action.assert.compareToSourcePath }}</td>{% endif %}
                                    {% if action.assert.contentType %}<td>{{ action.assert.contentType }}</td>{% endif %}
                                    {% if action.assert.expression %}<td>{{ action.assert.expression }}</td>{% endif %}
                                    {% if action.assert.headerField %}<td>{{ action.assert.headerField }}</td>{% endif %}
                                    {% if action.assert.minimumId %}<td>{{ action.assert.minimumId }}</td>{% endif %}
                                    {% if action.assert.navigationLinks %}<td>{{ action.assert.navigationLinks }}</td>{% endif %}
                                    {% if action.assert.operator %}<td>{{ action.assert.operator }}</td>{% endif %}
                                    {% if action.assert.path %}<td>{{ action.assert.path }}</td>{% endif %}
                                    {% if action.assert.requestMethod %}<td>{{ action.assert.requestMethod }}</td>{% endif %}
                                    {% if action.assert.requestURL %}<td>{{ action.assert.requestURL }}</td>{% endif %}
                                    {% if action.assert.resource %}<td>{{ action.assert.resource }}</td>{% endif %}
                                    {% if action.assert.sourceId %}<td>{{ action.assert.sourceId }}</td>{% endif %}
                                    {% if action.assert.value %}<td>{{ action.assert.value }}</td>{% endif %}
                                    {% if action.assert.response %}<td>{{ action.assert.response }}</td>{% endif %}
                                    {% if action.assert.responseCode %}<td>{{ action.assert.responseCode }}</td>{% endif %}
                                    {% if action.assert.validateProfileId %}<td>{{ action.assert.validateProfileId }}</td>{% endif %}
                                    {% if action.assert.stopTestOnFail %}<td>{{ action.assert.stopTestOnFail }}</td>{% else %}<td>{{ action.assert.extension.valueBoolean}}</td>{% endif %}
                                    {% if action.assert.warningOnly %}<td>{{ action.assert.warningOnly }}</td>{% endif %}
                                </tr>
                            {% endif %}
                        </table>
                    </blockquote>
                {% endfor %}
            </blockquote>
        {% endfor %}
    {% endif %}

    {% if TestScript.teardown %}
        <h3>Teardown</h3>
        <blockquote>
            <b>Operations</b><br/>
            {% for action in TestScript.teardown.action %}
                <blockquote>
                    <table class="grid" style="width: 100%;">
                        <tr style="background-color: #333f4c; color: #ffffff;">
                            {% if action.operation.id %}<th style="text-align: center;"><b>ID</b></th>{% endif %}
                            {% if action.operation.label %}<th style="text-align: center;"><b>Label</b></th>{% endif %}
                            {% if action.operation.description %}<th style="text-align: center;"><b>Description</b></th>{% endif %}
                            {% if action.operation.encodeRequestUrl %}<th style="text-align: center;"><b>EncodeRequestUrl</b></th>{% endif %}
                            {% if action.operation.type %}<th style="text-align: center;"><b>Type</b></th>{% endif %}
                            {% if action.operation.resource %}<th style="text-align: center;"><b>Resource</b></th>{% endif %}
                            {% if action.operation.accept %}<th style="text-align: center;"><b>Accept</b></th>{% endif %}
                            {% if action.operation.contentType %}<th style="text-align: center;"><b>ContentType</b></th>{% endif %}
                            {% if action.operation.params %}<th style="text-align: center;"><b>Params</b></th>{% endif %}
                            {% if action.operation.method %}<th style="text-align: center;"><b>Method</b></th>{% endif %}
                            {% if action.operation.origin %}<th style="text-align: center;"><b>Origin</b></th>{% endif %}
                            {% if action.operation.requestHeader %}<th style="text-align: center;"><b>Request Headers</b></th>{% endif %}
                            {% if action.operation.requestId %}<th style="text-align: center;"><b>Request Id</b></th>{% endif %}
                            {% if action.operation.responseId %}<th style="text-align: center;"><b>Response Id</b></th>{% endif %}
                            {% if action.operation.sourceId %}<th style="text-align: center;"><b>Source Id</b></th>{% endif %}
                            {% if action.operation.targetId %}<th style="text-align: center;"><b>Target Id</b></th>{% endif %}
                            {% if action.operation.url %}<th style="text-align: center;"><b>URL</b></th>{% endif %}
                        </tr>
                        <tr>
                            {% if action.operation.id %}<td>{{ action.operation.id }}</td>{% endif %}
                            {% if action.operation.label %}<td>{{ action.operation.label }}</td>{% endif %}
                            {% if action.operation.description %}<td>{{ action.operation.description }}</td>{% endif %}
                            {% if action.operation.encodeRequestUrl %}<td>{{ action.operation.encodeRequestUrl }}</td>{% endif %}
                            {% if action.operation.type %}<td>{{ action.operation.type }}</td>{% endif %}
                            {% if action.operation.resource %}<td>{{ action.operation.resource }}</td>{% endif %}
                            {% if action.operation.accept %}<td>{{ action.operation.accept }}</td>{% endif %}
                            {% if action.operation.contentType %}<td>{{ action.operation.contentType }}</td>{% endif %}
                            {% if action.operation.params %}<td>{{ action.operation.params }}</td>{% endif %}
                            {% if action.operation.method %}<td>{{ action.operation.method }}</td>{% endif %}
                            {% if action.operation.origin %}<td>{{ action.operation.origin }}</td>{% endif %}
                            {% if action.operation.requestHeader %}
                                <td>
                                {% for requestHeader in action.operation.requestHeader %}
                                    {{ requestHeader.field }}:{{ requestHeader.value }} <br>
                                {% endfor %}
                                </td>
                            {% endif %}
                            {% if action.operation.requestId %}<td>{{ action.operation.requestId }}</td>{% endif %}
                            {% if action.operation.responseId %}<td>{{ action.operation.responseId }}</td>{% endif %}
                            {% if action.operation.sourceId %}<td>{{ action.operation.sourceId }}</td>{% endif %}
                            {% if action.operation.targetId %}<td>{{ action.operation.targetId }}</td>{% endif %}
                            {% if action.operation.url %}<td>{{ action.operation.url }}</td>{% endif %}
                        </tr>
                    </table>
                </blockquote>
            {% endfor %}
        </blockquote>
    {% endif %}
</div>
